/* Buttons */
.more-link a,
.views-field-view-node a,
.form-actions .form-submit {
    border-radius: 2em !important;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    background-color: #1abc9c;
    border-color: #1abc9c;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 6px;
    outline: none;
    line-height: 14px;
}

/* Forms Elements */
.form-textarea-wrapper textarea {
    padding: 10px;
}

/* Log in Block */
.block h2 {
    font-size: 18px;
    text-transform: uppercase;
}
.block form {
    line-height: 18px;
}
.block form input {
    padding: 8px 0;
}

.block-user {
    padding: 20px 8px;
}

/* Global Default Image Field Displays */
.views-field-field-image {
    margin-bottom: 10px;
}

/* Calendar Controls */

.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
    padding: 0;
    border-radius: 0px;
}
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a {
    margin: 8px;
    border-radius: 0px;
    font-size: 12px;
    text-transform: uppercase;
}
.view .date-nav-wrapper .date-prev {
    right: 90px;
}
/* Calendar CSS */
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
    border-radius: 0px;
    border: 3px solid #1abc9c;
    line-height: 18px;
}
.calendar-calendar .week-view div.single-day .view-item, .calendar-calendar .day-view div.single-day .view-item {
    line-height: 18px;
}
.calendar-calendar .week-view .full div.single-day div.weekview, .calendar-calendar .day-view .full div.single-day div.dayview {
    border-radius: 0px;
    border: 4px solid #1abc9c;
}
.calendar-calendar td {
    text-align: center;
}